<div style="width: 100%;">
  <div style="float:left; width: 50%;">
    Code from {{ problem.filename }} (for your reference):
    <pre>{{ problem.ccode }}</pre>
  </div>
  <div style="float:left;">
    {% if problem.id == 1 %}
    No user inputs required: <a href="{% url 'visualizer:visualizer' problem.id %}">Go to Problem #{{ problem.id }}</a>
    {% else  %}
    <b>The following variables need to be filled in before walking through the above code: </b><br/>
      {% for arg in problem.arg_set.all %}
        {{ arg.name }} <br/>
      {% endfor %}
    <br/>
    {% endif %}
    {% if problem.id == 2 %}
    <b>Fill in all user inputs (press Enter button or click Submit to submit): </b>
    <form action="{% url 'visualizer:absvalform' problem.id %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit" />
    </form>
    {% elif problem.id == 3 %}
    <b>Fill in all spaces (press Enter button or click Submit to submit): </b>
    <form action="{% url 'visualizer:uppercaseform' problem.id %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit" />
    </form>
    {% elif problem.id == 4 %}
    <b>Fill in all spaces (press Enter button or click Submit to submit): </b>
    <form action="{% url 'visualizer:rectform' problem.id %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit" />
    </form>
    {% elif problem.id == 5 %}
    <b>Fill in all spaces (press Enter button or click Submit to submit): </b>
    <form action="{% url 'visualizer:powerform' problem.id %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit" />
    </form>
    {% endif %}
  </div>
</div>
<div style="clear:both"></div>
